<?xml version="1.0"?>
<extension>
    <id>banner_manager</id>
    <version>2.0.0</version>
    <type>extensions</type>
    <category>extensions</category>
    <cartversions>
        <item>2.0</item>
    </cartversions>
    <priority>10</priority>
    <settings>
        <item id="banner_manager_disable_statistic">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
    </settings>
    <preview>
        <item>preview.png</item>
    </preview>
    <help_file><![CDATA[help.txt]]></help_file>
    <additional_settings><![CDATA[extension/banner_manager]]></additional_settings>
    <note>true</note>
    <install>
        <trigger>install.php</trigger>
    </install>
    <uninstall>
        <trigger>uninstall.php</trigger>
    </uninstall>
</extension>