#Intellij project files
.idea/
*.iml
*.ipr
*.iws
*.swp
.svn
.DS_Store

#abantecart working files
/abantecart/abc/system/updates.xml
/abantecart/abc/system/backup/
/abantecart/abc/system/uploads/
/abantecart/abc/system/cache/*
/abantecart/abc/system/logs/*


/abantecart/abc/config/default/config.php
/abantecart/abc/config/enabled.config.php
/abantecart/abc/config/migration.config.php
/abantecart/abc/config/phpunit_default.xml
/abantecart/public/images/thumbnails/*
/abantecart/public/templates/default/admin/*
/abantecart/public/templates/default/storefront/*
/abantecart/abc/vendor/*
/abantecart/public/vendor/*
/abantecart/public/extensions/*
/abantecart/abc/composer.lock