#Intellij project files
.idea/
*.iml
*.ipr
*.iws
*.swp
.svn
.DS_Store

#abantecart working files
/abantecart/abc/system/updates.xml
/abantecart/abc/system/backup/
/abantecart/abc/system/uploads/
/abantecart/abc/var/cache/*
/abantecart/abc/var/logs/*
/abantecart/abc/config/*
/abantecart/public/assets/images/thumbnails/*
/abantecart/public/assets/templates/default/admin/*
/abantecart/public/assets/templates/default/storefront/*
/abantecart/vendor/*
/abantecart/composer.lock
