<phpunit
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
		bootstrap="TestBootstrap.php">
	<php>
	  <ini name="display_startup_errors" value="On"/>
	  <ini name="display_errors" value="On"/>
	</php>
	<testsuites>
		<testsuite name="abc core tests">
			<directory suffix="Test.php">./</directory>
		</testsuite>
		<testsuite name="abc extensions tests">
			<directory suffix="Test.php">../../extensions/*/tests/unit</directory>
		</testsuite>
	</testsuites>
</phpunit>